@import '/src/assets/styles/variables';
@import '/src//assets/styles/adaptive';

.menu_top {
  list-style-type: none;

  > li {
    display: inline-block;
    position: relative;

    > a {
      display: block;
      text-decoration: none;
      font-weight: 500;
      color: #000;
      transition: color .4s ease;
      padding: 5px 40px 15px 0;
      
      &:hover {
        color: $accent;
      }
    }

    > .sub_menu {
      position: absolute;
      top: 45px;
      background-color: $white;
      z-index: 10;
      border-radius: 5px;
      padding: 5px 0;
      box-shadow: 0 3px 6px rgba(162, 217, 223, 0.8);
      animation: .6s;
      display: none;

      > li {
        display: block;
        padding: 3px;
        
        > a {
          padding: 4px 10px;
          color: #000;
          font-size: 17px;
        }
      }
    }

    &.arrow_sub_menu {
      &:hover > .sub_menu {
        display: block;
      }

      &::after {
        content: '';
        display: block;
        width: 8px;
        height: 4px;
        background-image: url('/images/small-down.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        position: absolute;
        top: 18px;
        right: 25px;
      }
    }
  }
}
