@import '/src/assets/styles/variables';
@import '/src//assets/styles/adaptive';

.footer {
  background-color: #FBFCFF;
  padding: 60px 0 0;

  .logo_info {

    a {
      width: 48px;
      height: 48px;
      display: block;
    }

    img {
      margin: 0 auto;
    }

    .descr {
      max-width: 90%;
      color: $dark_accent;
      font-size: 14px;
      margin: 16px 0;
    }

    .social {
      list-style-type: none;

      li {
        display: inline-block;
        margin-right: 16px;

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          transition: transform .4s ease;

          &:hover {
            transform: translateY(-8px);
          }
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .menu_footer_wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 5px;

    .menu_footer {
      width: 23%;

      ul {
        list-style-type: none;
      }

      li {
        display: block;

        a {
          padding: 10px 0;
          display: block;
          text-decoration: none;
          color: $dark_accent;
          transition: color .4s ease;
          font-size: 14px;

          &:hover {
            color: $accent;
          }
        }
      }
    }

    b {
      color: $dark_accent;
      margin-bottom: 10px;
      display: block;
      font-size: 16px;
      font-weight: 900;
    }
  }

  .newsletter {
      
    form {
      display: flex;
      align-items: center;
      background-color: $white;
      box-shadow: 0 5px 9px rgba(0, 0, 0, .05);
      margin-top: 8px;

      input {
        width: 100%;
        display: block;
        border: none;
        outline: none;
        padding: 12px 16px 12px 16px;

        &:placeholder {
          font-size: 14px;
          color: $gray;
        }
      }

      button {
        border: none;
        background-color: transparent;
        outline: none;
        display: block;
        position: absolute;
        left: 65%;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  .copyright {
    padding-bottom: 15px;
    color: $dark_accent;
    font-weight: 900;
    font-size: 16px;
    margin-top: 66px;
    text-align: center;
  }
}