@import '/src//assets/styles/variables';
@import '/src//assets/styles/adaptive';

.advantages {

  .notif {
    background-color: $light_accent;
    border-radius: 30px;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    max-width: max-content;
    margin: 0 auto;
    margin-bottom: 40px;

    > img {
      width: 26px;
      height: auto;
      margin-right: 7px;
    }

    p {
      color: $accent;
    }
  }

  .heading_main {
    margin: 0 auto;
    max-width: 550px;
  }

  .heading {
    color: $dark_accent;
    font-size: 24px;
    font-weight: 900;
    margin: 24px 0 16px;
  }

  h2 {
    
    font-size: 38px;
    color: $dark_accent;
    font-weight: 900;
    text-align: center;
    margin: 32 px auto 12px;
    margin-bottom: 30px;
  }

  .descriptions {
    color: $gray;
    text-align: center;
    max-width: 550px;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  .row_adv {

    display: flex;
    .item_adv {

      > img {
        width: 60px;
        border-radius: 50%;
      }

      .descr {
        color: $gray;
      }
    }
  }
}