@import '/src/assets/styles/variables';

/*============Desktop First==============*/

@media only screen and (max-width: 1200px) {
  .main_banner {
    padding: 170px 0 220px !important;
  }
}

@media only screen and (max-width: 992px) {
    .mb_info h1 {
      font-size: 45px !important;
    }

    .desc {
      margin-bottom: 20px !important;
    }

  .btn {
    padding: 14px 35px !important;
  } 

  .main_banner {
    padding: 100px 0 160px !important;
  }

  .item_advanced .heading {
    margin: 16px 0 !important;
  }

 .pf_info {
  margin-bottom: 120px !important;
 }

 .logo_info {
  width: 80%;
  margin: 0 auto !important;
  margin-bottom: 40px !important;
 }
 
 .newsletter {
  width: 50%;
  margin: 0 auto !important;
 }

 .logo_info {
  order: 1;
 }

}

@media only screen and (max-width: 768px) {
  .btn_simple {
    display: none;
  }

  .menu_top > li > a {
    padding: 5px 25px 5px 0px !important;
  }

  .arrow_sub_menu::after {
    right: 8px !important;
  }

  section {
    padding: 60px 0;;
  }

  h2, h3, h4 {
    font-size: 30px;
  }

  .row_adv {
    width: 70%;
    display:block !important;
    text-align: center;
    margin: 0 auto;
  }

  .row_adv img {
    display:block !important;
    text-align: center;
    margin: 0 auto;
  }

  .item_adv {
    margin-bottom: 40px !important;
  }

  .img_responsive {
    width: 80%;
    margin-bottom: 30px !important;
  }

  .right_info {
    text-align: center;
  }

  .quotes {
    font-size: 18px !important;
  }

}

@media only screen and (max-width: 480px) {

  .mb_info h1 {
    font-size: 22px !important;
  }
  h1, h2, h3, h4 {
    font-size: 22px !important;
  }

  .menu_top {
    padding: 5px 15px 5px 0px !important;
  }
  
}

@media only screen and (max-width: 320px) {
  
}
